<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>指令章節作業—挑戰版</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    
    <div id="app">
      <div class="container gx-2">
        <div class="row gx-3 bg-light py-3">
          <div class="col-md-4">
            <div class="list-group">
              <a href="#" class="list-group-item list-group-item-action"
              v-for="item in products" :key="item.name" @click.prevent="clickList(item)"
              :class="{active : productList.name === item.name}">
                <h6 class="card-title mb-1">{{item.name}}</h6>
                <div class="d-flex align-items-center justify-content-between">
                  <p class="mb-0"><small>{{item.engName}}</small></p>
                  <p class="mb-0"><small>NT$ {{item.price}}</small></p>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-8">
            <div class="card mb-2">
              <div class="position-absolute text-white d-flex align-items-center justify-content-center" style="top: 0;bottom: 0;left: 0;right: 0;background-color: rgba(0, 0, 0, 0.65); z-index: 100;"
              v-if="!Object.prototype.hasOwnProperty.call(productList, 'name')">請先選擇飲品</div>
              <div class="card-body px-4">
                <div class="mb-3">
                  <label for="productNum" class="form-label">數量</label>
                  <input type="number" class="form-control" id="productNum" placeholder="數量" min="0"
                  v-model="productList.count">
                </div>
                <div class="mb-3">
                  <label for="productNum" class="form-label d-block">冰塊*</label>
                  <div class="form-check form-check-inline" v-for="(item, num) in iceType" :key="'ice'+num">
                    <input class="form-check-input" name="iceType" type="radio" :id="'ice'+num"
                    :value="item" v-model="productList.addIce" :disabled="!Object.prototype.hasOwnProperty.call(productList, 'defaults') || productList.defaults.ice !== item && productList.defaults.ice !==''">
                    <label class="form-check-label" :for="'ice'+num">{{item}}</label>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="productNum" class="form-label d-block">甜度*</label>
                  <div class="form-check form-check-inline" v-for="(item, num) in sugarType" :key="'sugar' + num">
                    <input class="form-check-input" name="sugarType" type="radio" :id="'sugar' + num"
                    :value="item" v-model="productList.addSugar" :disabled="!Object.prototype.hasOwnProperty.call(productList, 'defaults') || (productList.defaults.sugar !== item && productList.defaults.sugar !=='')">
                    <label class="form-check-label" :for="'sugar' + num">{{item}}</label>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="productNum" class="form-label d-block">加料</label>
                  <div class="form-check form-check-inline" v-for="(item, num) in toppingsType" :key="'topping' + num">
                    <input class="form-check-input" type="checkbox" :id="'topping' + num"
                    :value="item" v-model="productList.addTopping"
                    :disabled="!Object.prototype.hasOwnProperty.call(productList, 'defaults') || productList.defaults.toppings.includes(item)">
                    <label class="form-check-label" :for="'topping' + num">{{item}}</label>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="productNotice" class="form-label">備註</label>
                  <textarea class="form-control" id="productNotice" rows="2"
                  v-model="productList.remark"></textarea>
                </div>
                <div class="d-flex gap-2">
                  <button class="btn btn-outline-primary w-100" type="button">取消</button>
                  <button class="btn btn-primary w-100" type="button"
                  @click.prevent="addShoppingCart(productList)"
                  :disabled="!Object.prototype.hasOwnProperty.call(productList, 'name')">加入</button>
                </div>
              </div>
            </div>
            <div class="card" v-if="shoppingCart.length>0">
              <div class="card-body">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">品項</th>
                      <th scope="col">冰塊</th>
                      <th scope="col">甜度</th>
                      <th scope="col">加料</th>
                      <th scope="col">單價</th>
                      <th scope="col">數量</th>
                      <th scope="col">小計</th>
                    </tr>
                  </thead>
                  <tbody>
                    <template v-for="item in shoppingCart" :key="item.name">
                      <tr>
                        <th scope="row">{{item.name}}<br>
                          <small class="text-muted fw-normal" v-if="item.remark.length>0">
                            備註：{{item.remark}}
                          </small>
                        </th>
                        <td>{{item.addIce}}</td>
                        <td>{{item.addSugar}}</td>                      
                        <td>{{item.addTopping.toString()?item.addTopping.toString():"無"}}</td>
                        <td>{{item.price + item.addTopping.length * 10}}</td>
                        <td>{{item.count}}</td>
                        <td class="text-end">{{item.subtotal}}</td>
                      </tr>
                    </template>
                  </tbody>
                </table>
                <p class="text-end">共 NT$ {{total}} 元</p>
                <button class="btn btn-sm btn-secondary w-100"
                @click.prevent="generateFinalOrder(shoppingCart, total)">產生訂單</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-light p-3 mt-3" v-if="finalOrder.checklist.length>0">
        <div class="bg-white p-3 d-flex flex-column" style="min-height: 450px;">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">品項</th>
                <th scope="col">冰塊</th>
                <th scope="col">甜度</th>
                <th scope="col">加料</th>
                <th scope="col">單價</th>
                <th scope="col">數量</th>
                <th scope="col">小計</th>
              </tr>
            </thead>
            <tbody>
              <template v-for="item in finalOrder.checklist" :key="item.name">
                <tr>
                  <th scope="row">{{item.name}}<br>
                    <small class="text-muted fw-normal" v-if="item.remark.length>0">
                      備註：{{item.remark}}
                    </small>
                  </th>
                  <td>{{item.addIce}}</td>
                  <td>{{item.addSugar}}</td>
                  <td>{{item.addTopping.toString()?item.addTopping.toString():"無"}}</td>
                  <td>{{item.price + item.addTopping.length * 10}}</td>
                  <td>{{item.count}}</td>
                  <td class="text-end">{{item.subtotal}}</td>
                </tr>
              </template>
            </tbody>
          </table>
          <p class="mt-3 mb-1">訂單成立時間：{{finalOrder.dateTime}}</p>
          <p class="mb-1">餐點數：{{finalOrder.checklist.length}}</p>
          <p class="mb-1">付款狀態：{{finalOrder.isState? "已付款" : "未付款"}}</p>
          <p class="text-end mt-auto">共 NT$ {{finalOrder.numOrder}} 元</p>
        </div>
      </div>
    </div>
    
    <script>
    const App = {
      data() {
        return {
          productList:{},
          shoppingCart:[],
          total:0,
          finalOrder:{
            checklist:[],
            dateTime:"",
            numOrder: 0            
          },
          isState:false,
          iceType: ['正常冰', '少冰', '微冰', '去冰', '熱'],
          sugarType: ['全糖', '七分', '半糖', '三分', '無糖'],
          toppingsType: ['珍珠', '粉條', '小粉圓', '椰果', '芋頭'],
          products: [
            {
              name: '珍珠鮮奶茶',
              engName: 'Pearl Milk Tea',
              price: 60,
              defaults: {
                toppings: ['珍珠'],
                sugar: '',
                ice: '',
              }
            },
            {
              name: '椰果鮮奶茶',
              engName: 'Coconut Milk Tea',
              price: 60,
              defaults: {
                toppings: ['椰果'],
                sugar: '',
                ice: '',
              }
            },
            {
              name: '鮮奶茶',
              engName: 'Milk Tea',
              price: 50,
              defaults: {
                toppings: [],
                sugar: '',
                ice: '',
              }
            },
            {
              name: '古意冬瓜茶 (糖固定)',
              engName: 'Winter Melon Drink',
              price: 30,
              defaults: {
                toppings: [],
                sugar: '全糖',
                ice: '',
              }
            },
            {
              name: '蜜香紅茶',
              engName: 'Black Tea',
              price: 30,
              defaults: {
                toppings: [],
                sugar: '',
                ice: '',
              }
            },
            {
              name: '包種青茶',
              engName: 'Black Tea',
              price: 35,
              defaults: {
                toppings: [],
                sugar: '',
                ice: '',
              }
            },
            {
              name: '檸檬烏龍',
              engName: 'Lemon Oolong Tea',
              price: 55,
              defaults: {
                toppings: [],
                sugar: '',
                ice: '',
              }
            },
            {
              name: '薑母茶 (熱飲)',
              engName: 'Ginger Tea',
              price: 55,
              defaults: {
                toppings: [],
                sugar: '',
                ice: '熱',
              }
            },
            {
              name: '青草茶',
              engName: 'Herbal Tea',
              price: 35,
              defaults: {
                toppings: [],
                sugar: '',
                ice: '',
              }
            },
            {
              name: '金桔檸檬',
              engName: 'Kumquat Lemonade',
              price: 40,
              defaults: {
                toppings: [],
                sugar: '',
                ice: '',
              }
            },
            {
              name: '柳澄青茶',
              engName: 'Orange Mountain Tea',
              price: 45,
              defaults: {
                toppings: [],
                sugar: '',
                ice: '',
              }
            },
          ],
        }
      },
      methods: {
        clear(){
          this.productList = {}
        },
        addTotal(){
          this.total = this.shoppingCart.reduce((acc, cur) => 
            acc + cur.subtotal, 0);
        },
        clickList(parameter){
          this.productList = {
            ...parameter,
            count:1,
            addIce:parameter.defaults.ice !==""? parameter.defaults.ice:"正常冰",
            addSugar:parameter.defaults.sugar !==""? parameter.defaults.sugar:"全糖",
            addTopping:parameter.defaults.toppings !==""? parameter.defaults.toppings:"",
            remark:"",
          }
        },
        addShoppingCart(parameter){
          this.shoppingCart.push(Object.assign({
            subtotal: (this.productList.price + this.productList.addTopping.length * 10) * this.productList.count,
          }, parameter));
          this.clear();
          this.addTotal();
        },
        generateFinalOrder(parameter, parameter2){
          this.finalOrder.checklist = parameter;
          this.finalOrder.dateTime = new Date().toLocaleString();
          this.finalOrder.numOrder = parameter2;
          this.shoppingCart = [];
        }
      },
    };
    
    Vue.createApp(App).mount('#app');
    </script>
</body>
</html>