<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>元件樣板製作</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <!-- 這裡需要先宣告一個樣式為x-template的script，並加上id -->
    <script type="text/x-template" id="x_template_id">
        <div class="text-bg-secondary p-3">x-template所建立的元件</div>
    </script>

    <div id="main" class="container p-3">
        <h1>樣板建立方式</h1>
        <h3>template</h3>
        <t_element></t_element>
        <br>
        <h3>x-template</h3>
        <!-- 這邊才是真正要渲染x-template -->
        <x_t_element></x_t_element>
        <br><hr><br>
        <h1>元件運用</h1>
        <h3>直接使用標籤名稱</h3>
        <t_element></t_element>
        <br>
        <h3>搭配v-for也是沒問題</h3>
        <t_element v-for="item in array" :key="item"></t_element>
        <br>
        <h3>使用v-is綁定</h3>
        <!-- v-is最大的特色就是直接使用div當標籤 -->
        <!-- v3.4版本以後寫法 -->
        <h4>在原生 html 標籤上使用 is="vue:元件名稱"</h4>
        <div is="vue:t_element"></div>
        <br>
        <h3>動態屬性</h3>
        <!-- 任何標籤都能搭配v-is進行動態切換 -->
        <input type="text" class="form-control w-25 mb-4" v-model="name">
        <h4><component>1. 元素上使用 v-bind:is="VueData"</h4>
        <component :is="name"></component>
        <br>
        <h4>2. 也可以對:is傳入表達式</h4>
        <component :is="'t_element_2'"></component>
        <br>
        <h3>動態標籤實戰技巧</h3>
        <table class="table table-bordered w-50">
            <thead>
              <tr>
                <th scope="col">標題</th>
                <th scope="col">內文</th>
              </tr>
            </thead>
            <tbody>
                <tr is="vue:table-row"></tr>
                 <!-- <table-row></table-row> -->
            </tbody>
          </table>
    </div>

    <script>
        const test = Vue.createApp({
            data(){
                return{
                    array:[1,2,3],
                    name:"t_element",
                    // name2:"t_element_2"
                }
            },
        });

        //template
        test.component("t_element",{
            template:`<div class="text-bg-primary p-3">範例一</div>`,
        });

        test.component("t_element_2",{
            template:`<div class="text-bg-warning p-3">範例二</div>`,
        });

        //x-template
        test.component("x_t_element",{
            // 這邊的template不能用樣板字面值，要使用雙引號
            // 將html的id代入
            template:"#x_template_id",
        });

        test.component("table-row",{
            template:`<tr><td>@</td><td>這是一個tr項目</td></tr>`,
        });

        test.mount("#main");
    </script>
</body>
</html>